<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
    {% comment %} <h1></h1>
<h>reset your password<h>
 {% if validlink %}
<form action="." method="post">
  {% csrf_token %}
  {{ form.as_p }} 
  
 <input type="submit" value="change password">
</form>  {% endcomment %}
{% comment %} {% else %}  
{% endif %}  {% endcomment %}


{% comment %} {% if validlink %}

<h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
</body>   {% endcomment %}


{% comment %} {% if validlink %}

<h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {{password_reset_form.as_p }}
  <input type="submit" value="Change my password">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %} {% endcomment %}
{% comment %} {% load crispy_forms_tags %}   {% endcomment %}


  
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{form}}                    
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
    </div>