{% load static %}
<!DOCTYPE html>

<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% comment %} <link rel="stylesheet" href="{% static '/login.css' %}"> {% endcomment %}
    <title>Homepage</title>
</head>
<body>
  <h1></h1>
     

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
  {% for fm in password_reset_form %}
  {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br><br>
  {% endfor %}
    
  
 <input type="submit" value="send email">
 {% comment %} <a href="/logout/">logout</a> <br><br> {% endcomment %}
 {% comment %} <a href="/change_password/">changepassword</a> {% endcomment %}
</form>    
</body>  
 


{% comment %} <div class="container p-5">
  <h2 class="font-weight-bold mt-3">Reset Password</h2>
<hr>
<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
   <form method="POST">
       {% csrf_token %}
       {{ password_reset_form}}                    
       <input  type="submit">Send email</button>
   </form>
</div>  {% endcomment %}