 <!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
    <h1>Chage Password</h1>
     


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for fm in form %}
    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br><br>
    {% endfor %} 
     {% comment %} {{ form.as_p }}  {% endcomment %}
    {% comment %} {{form}}  {% endcomment %}
   <label for="fname"></label>
   <input type="submit" value="Submit">
   {% comment %} <a href="/logout/">logout</a> <br><br> {% endcomment %}
   {% comment %} <a href="/change_password/">changepassword</a> {% endcomment %}
</form>      
  