{% load static %}
<!DOCTYPE html>

<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static '/home.css' %}">
    <title>Homepage</title>
</head>
{% comment %} <body>
    <h1>Create Facebook Account</h1>
     

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {% endcomment %}
  {% comment %} {% for fm in form %}
  {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br><br>
  {% endfor %} {% endcomment %}
  {% comment %} {{ form.as_p }} 
  {% comment %} {{form}}  {% endcomment %}
 {% comment %} <label for="fname"></label> {% endcomment %}
 {% comment %} <input type="submit" value="Submit">
 <a href="/logout/">logout</a> <br><br>
 <a href="/change_password/">changepassword</a>
</form>    
</body>  
 {% endcomment %} 






 <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<div id="navwrapper">
  <div id="navbar"> <table class="tablewrapper">
     
    <form method="POST" class="post-form" action ="/login/">
      {% csrf_token %} 
    <tr>
      <td class="row1">username</td>
      <td class="row1">password</td> 
    </tr>
    <tr>
      <td><input type="text" name='username'   class="inputtext">
      </td>
      <td><input type="password" name='password'   class="inputtext">
      </td>
      {% comment %} <td><div id="button">Log In</div></td> {% endcomment %}
      <td><input type="submit" value="login"> </input></td>
      {% comment %} <td><a href="/reset/">Forgot Password?</a><td> {% endcomment %}
      {% comment %} <td><input action="/password_reset/" type="password" name='password'> {% endcomment %}
    </tr> 
    
    <tr>
    </form>
      <td>
          {% for message in messages %}
              <a class="close" href="#" data-dismiss="alert" style="text-decoration: none;">{{success}} {{ message }}</a>
          {%endfor%}  
        </div> 
      </td> 
          
      <td class="row2 h" style="display: flex;"><a href="/reset/">Forgot Password?</a></td>
      <td class="row2 h" style="display: flex;"><a href="/logout/">logout</a></td>
  
      {% for message in messages %}
          <a class="close" href="#" data-dismiss="alert" style="text-decoration: none;">{{success}} {{ message }}</a>
      {%endfor%}
      
      {% comment %} <td class="row2 h" style="display: flex;"><a href="/logout/">logout</a></td> {% endcomment %}
  </table>
    
    <h1 class="logowrapper">facebook</h1>
   
  </div>
  </div>

  
   

  <div id="contentwrapper">
    <div id="content">
      
      <div id="leftbod">
        
        <div class="connect bolder">
          Connect with friends and the
          world around you on Facebook.</div>
        
        <div class="leftbar">
          <img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2365-6/851565_602269956474188_918638970_n.png" alt="" class="iconwrap fb1"/>
          <div class="fb1">
            <span class="rowtext">See photos and updates</span>
            <span class="rowtext2 fb1">from friends in News Feed</span>
          </div>
        </div> 
          
          <div class="leftbar">
          <img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2365-6/851585_216271631855613_2121533625_n.png" alt="" class="iconwrap fb1"/>
          <div class="fb1">
            <span class="rowtext">Share what's new</span>
            <span class="rowtext2 fb1">in your life on your timeline</span>
            </div>
          </div>
             
            <div class="leftbar">
          <img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2365-6/851558_160351450817973_1678868765_n.png " alt="" class="iconwrap fb1"/>
          <div class="fb1">
            <span class="rowtext">Find more</span>
            <span class="rowtext2 fb1">of what you're looking for with graph search</span>
        </div> 
        </div> 
       
            
      </div>
       
      <div id="rightbod" >
      <form method="POST" action ="/signup/" novalidate >
          {% csrf_token %} 
        
        <div class="signup bolder">Sign Up</div>
        <div class="free bolder">It's free and always will be</div>
        
        <div class="formbox">
        {% comment %} <input type="text" class="inputbody in1" placeholder="First name",>
        <input type="text" class="inputbody in1" placeholder="Last name",> {% endcomment %}
        {% comment %} {{form.non_field_errors}} {% endcomment %}
        {% comment %} <span>{{form.username.errors}}</span> {% endcomment %}
        <input type="text" class="inputbody in1 " name='username' placeholder="username">   
          <span class="main_div">{{form.username.errors}}</span>
        </div>
    
        <div class="formbox">
        {% comment %} <label for="id_email">Email address:</label> {% endcomment %}
        {% comment %} <label for="mail">I would like you to provide me an e-mail</label> {% endcomment %}
        <input type="text" class="inputbody in2" name='email' placeholder="Email" id='email'>
        <span>{{form.uemail.errors}}</span>
        </div>
        <td>
          
          {% comment %} {% for message in form.username.errors %}
              <a class="close" href="#" data-dismiss="alert" style="text-decoration: none;">{{success}} {{ message }}</a>
                
          {%endfor%} {% endcomment %}
         
        <div class="formbox">
        <input type="password" class="inputbody in2" name='password1' placeholder="password" id="pw">
        <span>{{form.password1.errors}}</span>
        </div>
        {% comment %} <span>{{form.password2.errors}}</span> {% endcomment %}
        <div class="formbox">
        <input type="password" class="inputbody in2" name='password2' placeholder="confirm password" id="cpw">
        <sapn>{{form.password2.errors}}</sapn>
        </div> 
        <button type="submit" class="signbut bolder">Sign Up</button>
        {% comment %} <button type="submit" class="signbut bolder">Logout</button> {% endcomment %}
      </form>
        </div>
        
        
        